PORT=3000
TIMEZONE=Asia/Tokyo
START_HOUR=9
END_HOUR=21
ORGANIZATION_NAME=団体名
CALENDAR_EMBED_URLS=https://calendar.google.com/calendar/u/0/embed?src=cjf3gmhfu52jvshevng5ibslok@group.calendar.google.com&ctz=Asia/Tokyo,https://calendar.google.com/calendar/u/0/embed?src=hu.sportscenter@gmail.com&ctz=Asia/Tokyo&pli=1
FORM_SUBMIT_WEBHOOK_URL=
FORM_SUBMIT_WEBHOOK_TOKEN=
